{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">



<body>


{% block body %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Castillo Honey</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'FishWeb:index' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'FishWeb:about' %}">About</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'FishWeb:products' %}">Products</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'FishWeb:store' %}">Store</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/Castillo/truckcrop.jpg'  %}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
{#                <span class="section-heading-upper">Fresh Seafood, Fresh Food </span>#}
                <span class="section-heading-lower">About Us</span>
              </h2>
              <p class="mb-0">Castillo Honey Inc has been in the honey bee industry for over 6 years. We started providing pollination services locally and have provided services for 
                a variety of farmers. From the Almond trees in California to the Strawberry fields of Florida, <em>quality pollination</em> is at the core of our mission. 
                Our goal is to give bees the best quality of life and help boost the ecosystem and crops around them. 
              </p>
              <!-- <p class="mb-0">We are confident that you will <em>love</em> with our fresh caught seafood the moment you walk inside until you finish your last bite. Join us for your daily routine, an outing with friends, or simply just to enjoy some delicious and local seafood.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>
